/* reset css */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}
/* 
1. Từ ngoài vào trong
2. Từ trên xuống dưới
3. Tổng quan đến chi tiết
*/

/* 
1. Vị trí 
2. Kích thước 
3. Màu sắc
4. Kiểu dáng (kiểu chữ, hình tròn, vuông ... */

/* common */
.clear{
    clear: both;
}

.text-while{
    color: #fff !important;
}

.text-align{
    text-align: center !important;
}

.mt-8{
    margin-top: 8px !important;
}

.mt-16{
    margin-top: 16px !important;
}

.mt-32{
    margin-top: 32px !important;
}

.row{
    margin-left: -8px;
    margin-right: -8px;
}

.row::after{
    content:"";
    display: block;
    clear: both;
}

.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-haft{
    width: 50%;
}

.col-full{
    width: 100%;
}

.col-third{
    width: 33.33333%;
}

.btn{
    background-color: #000000;
    color: #fff;
    margin-top: 15px;
    padding: 11px 13px;
    display: inline-block;
    text-decoration: none;
    border: none;
}

.btn:hover{
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

.pull-right{
    float: right !important;
}

/* main */
#main{

}

#header{
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#nav{
    display: inline-block;
}

#nav, .subnav{
    list-style-type: none;
}

#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav > li > a{
    color: #fff;
    text-transform: uppercase;
}

#nav li a{
    line-height: 46px;
    text-decoration: none;
    padding: 0 24px;
    display: block;
}

#nav li:hover .subnav{
    display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover a{
    color:#000;
    background-color: #ccc;
}

#nav .subnav{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 160px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a{
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}

#nav .nav-arrow-down{
    font-size: 14px;
}

#header .mobile-menu-btn{
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

#header .mobile-menu-btn,
#header .search-btn{
    float: right;
    padding: 0px 21px; 
}

#header .search-btn:hover{
    background-color: #f44336;
    cursor: pointer;
}

#header .mobile-menu-btn:hover{
    background-color: #ccc;
}

#header .mobile-menu-btn:hover .menu-icon{
    color: #000;
}

#header .menu-icon,
#header .search-icon{
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}

#slider{
    position: relative;
}

#slider img{
    width: 100%;
    margin-top: 46px;
}

#slider .text-content{
    position: absolute;
    color: #fff;
    bottom: 47px;
    width: 100%;
    text-align: center;
    left: 50%;
    transform: translate(-50%,0%);
}

#slider .text-heading{
    font-weight: 500;
    font-size: 24px;

}
#slider .text-description{
    font-size: 15px;
    margin-top: 25px;
    text-shadow: 0 0 1px #000;
}

#content .content-section{
    width: 800px;
    max-width: 100%;
    padding: 64px 0 112px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

#content .section-heading{
    font-size: 30px;
    text-align: center;
}

#content .section-sub-heading {
    text-align: center;
    font-size: 15px;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
}

#content .about-text{
    margin-top: 25px;
    font-size: 15px;
    text-align: justify;
    line-height: 1.4;
}

#content .member-list{
    margin-top: 32px;
}

#content .member-name{
    font-size: 15px;
}

#content .member-img{
    width: 152px;
    margin-top: 15px;
    border-radius: 6px;
}

/* tour-section */
.tour-section{
    background-color: #000;
}

.tickets-list{
    background-color: #fff;
    margin-top: 40px;

}

.tickets-list li{
    color: #757575;
    padding: 11px 24px;
    font-size: 15px;
    border-bottom: 1px solid #ddd;
    list-style: none;
}

.tickets-list .sold-out{
    background-color: #f44336;
    margin-left: 16px;
    padding: 3px 4px;
    color: #fff;
}

.tickets-list .quantity{
    float: right;
    background-color: #000;
    color: #fff;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    line-height: 24px;
    text-align: center;
    margin-top: -3px;
}

/* Places */
.place-list{
    margin-top: 16px;
}

.place-img{
    width: 100%;
    display: block;
}

.place-img:hover{
    opacity: 0.6;
}

.place-body{
    padding: 16px;
    background-color: #fff;
    font-size: 15px;
}

.place-heading{
    font-size: 15px;
    font-weight: 600;
}

.place-time{
    margin-top: 15px;
    color: #757575;
}

.place-desc{
    margin-top: 15px;
    line-height: 1.4;
}

.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    display: none;
}

.modal.open{
    display: flex;
}

.modal-container{
    background: #fff;
    width: 900px;
    max-width: calc(100% - 46px);
    min-height: 200px;
    position: relative;
    animation: modalFadeIn ease .5s;
}

.modal-header {
    background: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}

.modal-heading-icon{
    margin-right: 16px;
}

.modal-close:hover {
    opacity: 1;
}

.modal-close {
    position: absolute;
    padding: 12px;
    right: 0;
    top: 0;
    cursor: pointer;
    opacity: 0.8;
}

.modal-body{
    padding: 16px;
}

.modal-label {
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}

.modal-input {
    font-size: 15px;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    margin-bottom: 24px;
}

#buy-ticker {
    background: #009688;
    width: 100%;
    border: none;
    padding: 15px;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    cursor: pointer;
}

#buy-ticker:hover {
    opacity: 0.9;
}

.modal-footer {
    text-align: right;
    padding: 16px;
}

.modal-footer a{
    color: #2196F3;
}

/* contact-form */
.contact-content{
    margin-top: 48px;
}

.contact-info{
    font-size: 18px;
    line-height: 1.4;
}

.contact-info i [class = "ti-"]{
    display: inline-block;
    width: 30px;
}


.contact-info a{
    color: #0000ee;
    opacity: 0.8;
}

.contact-info a:hover{
    opacity: 1;
}



.contact-form .form-control{
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    font-style: 16px;
}

.contact-form .form-submit-btn{
    background-color: #000;
    color: #fff;
    padding: 10px 15px;
    float: right;
    border: 1px solid #ccc;
}

.contact-submit-btn{
    font-style: 16px;
}

/* map-section */
.map-section img{
    width: 100%;
}


/* footer-section */
#footer{
    padding: 64px 16px;
    text-align: center;
}

#footer .socials-list{
    font-size: 20px;
}

#footer .socials-list a{
    text-decoration: none;
    color:rgba(0, 0, 0, 0.6);
}

#footer .copyright a:hover,
#footer .socials-list a:hover{
    color:rgba(0, 0, 0, 0.4);
}

#footer .copyright{
    margin-top: 15px;
    color:rgba(0, 0, 0, 0.6);
}

#footer .copyright a{
    color:rgba(0, 0, 0, 0.6);

}

@keyframes modalFadeIn {
    from{
        opacity: 0;
        transform: translateY(-130px)
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}